/*------------------------------------*\
    Clases Reutilizables
\*------------------------------------*/

.center-box
	margin 0 auto

.be-blue
	background-color $fb

.be-red
	background-color $youtube

.be-twitter
	background-color $tw

.be-reenie
	font-family "Reenie Beanie"

.color-white
	color $white
	
.color-red
	color $youtube

.full-height
	min-height 100%

.fs-medium
	font-size 1.5em

.hidden-xs
	display none

.no-margin
	margin 0

.no-padding
	padding 0

.padding
	padding $gutterwidth

.relative
	position relative
	
.aligncenter
	display block
	margin-left auto
	margin-right auto

.alignleft
	float left

.alignright
	float right