/* Archivos de configuración y base */
@import "base/config.styl"
@import "base/base.styl"
@import "base/fonts.styl"

/* Clases reutilizables */
@import "clases.styl"


/* Clases para etiquetas */
@import "elements/navegacion.styl"

/* Estilos */
@import "home/estilos.styl"
@import "home/medias.styl"