@media (min-width: $medium)
	.aside
		display block
	
	.nav
		display block
		
	.nav__list
		display table
		table-layout fixed
		
		li
			display table-cell
	
	.show-menu
		display none
	
	.post__item__title
		font-size $title-font-size
		
	.header__info
		font-size 1.2em

@media(min-width :$large)
		
	.nav
		display block
	