h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	font-family $baseheadingfont
	font-weight $baseheadingfontweight
	color $baseheadingfontcolor
	text-rendering optimizelegibility
	
html,body
	height 100%

a
	text-decoration none
	color $linkcolor
	
	&:hover
		text-decoration underline
		color $linkcolorhover
	

body
	margin 0
	padding 0
	font-family $basefont
	line-height $baselineheight
	color $textcolor
	//background $white url("../images/background.gif") repeat scroll left top
	cursor url('../images/cursor.gif'), default
	cursor url('some-cursor.ico'), pointer

ul
	padding 0
	
img
	max-width 100% 
	height auto