/* ICON FONTS */
@font-face {
	font-family: 'blog-vero';
	src:url('../fonts/blog-vero.eot?-rlsmg2');
	src:url('../fonts/blog-vero.eot?#iefix-rlsmg2') format('embedded-opentype'),
		url('../fonts/blog-vero.ttf?-rlsmg2') format('truetype'),
		url('../fonts/blog-vero.woff?-rlsmg2') format('woff'),
		url('../fonts/blog-vero.svg?-rlsmg2#blog-vero') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'blog-vero';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
	content: "\e602";
}
.icon-user:before {
	content: "\e601";
}
.icon-burger:before {
	content: "\e600";
}
